.search-bar{
    height: 36px;
    flex: 1;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0 , 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-size: 16px;
}
.header{
    display: flex;
    flex-direction: row;
    height: 57px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 57px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-style: solid;
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    margin-left: 60px;
    margin-right: 35px;
    max-width: 450px;
    display: flex;
    align-items: center;
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 24px;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    margin-left: 24px;
    cursor: pointer;
}
.search{
    width: 24px;
}
.search-button,
.voice-search-button,
.upload-icon, 
.youtube-apps-icon, 
.notification-icon{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tool-tip,
.voice-search-button .tool-tip,
.upload-icon .tool-tip, 
.youtube-apps-icon .tool-tip, 
.notification-icon .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    font-size: 12px;
    padding: 7px;;
    border-radius: 2px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-icon:hover .tool-tip, 
.youtube-apps-icon:hover .tool-tip, 
.notification-icon:hover .tool-tip{
    opacity: 0.97;
}
.voice-search{
    height: 25px;
}
.search-button{
    width: 66px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 1px;
    margin-left: -2px;
    border-radius: 2px;
}
.voice-search-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 8px;
    background-color: rgb(239, 236, 236);
}
.upload{
    width: 24px;
}
.youtube-apps{
    width: 24px;
}
.notification-icon{
    position: relative;
}
.notifications{
    width: 24px;
}
.notifications-count{
    position: absolute;
    background-color: rgb(194, 9, 9);
    color: white;
    font-size: 10px;
    top: -2px;
    right: -5px;
    border-radius: 10px;
    padding: 2px 5px;
}
.my-channel-profile{
    width: 32px; 
    border-radius: 16px;
}
.upload-icon{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}