@media (max-width: 1200px){
    .side-bar{
    position: fixed;
    background-color: white;
    left: 0;
    top: 57px;
    bottom: 0;
    width: 72px;
    z-index: 200;
    padding-top: 3px;
}
.side-bar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76px;
}
.side-bar-link:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;

}
.side-bar-link img{
    width: 24px;
    margin-bottom: 6px;
}
.side-bar-link {
    font-size: 10px;
}
}
@media(min-width: 1200px){
    body{
        margin-left: 170px;
    }
    .side-bar{
        position: fixed;
        left: 0;
        top: 57px;
        bottom: 0;
        width: 240px;
        background-color: white;
        z-index: 200;
        padding-top: 25px;
    }
    .side-bar-link{
        display: flex;
        align-items: center;
        height: 40px;
    }
    .side-bar-link:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    }
    .side-bar-link img{
        width: 24px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .side-bar-link{
        font-size: 13px;
    }
}
