            .thumbnail1{
                width: 100%;
            }
            .video-link{
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: black;
                text-decoration: none;
            }
            .video-title{
                margin-bottom: 6px;
            }
            @media (min-width: 1000px){
                .video-link{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .video-author-link, 
            .video-stats{
                font-size: 12px;
                color: rgb(96, 96, 96);
                text-decoration: none;
            }
            @media (min-width: 1000px){
                .video-stats,
                .video-author-link{
                    font-size: 14px;
                }
            }
            .video-author{
                margin-bottom: 3px;
            }
            .video-info-grid{
                display: grid;
                grid-template-columns: 48px 1fr;
            }
            .profile-picture{
                width: 36px;
                border-radius: 50px;
            }
            .thumbnail-row{
                margin-bottom: 8px;
                position: relative;
            }
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 42px;
            }
            @media (max-width: 870px){
                .video-grid{
                    grid-template-columns: 1fr 1fr;
                }
            }
            @media (min-width: 1120px){
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
            .time-stamp{
                background-color: black;
                color: white;
                position: absolute;
                bottom: 13px;
                right: 5px;
                font-size: 12px;
                padding: 4px;
                font-weight: 500;
                border-radius: 3px;
            }
            .channel-picture{
                position: relative;
            }
            .channel-picture .channel-info{
                position: absolute;
                bottom: -80px;
                left:0;
                display: grid;
                grid-template-columns: 50px 150px;
                background-color: white;
                column-gap: 8px;
                align-items: center;
                padding: 10px;
                border-radius: 7px;
                box-shadow: 0px 0px 6px rgba(0,0,0, 0.4);
                opacity: 0;
                transition: opacity 0.2s;
                cursor: pointer;
                pointer-events: none;
            }
            .channel-picture:hover .channel-info{
                opacity: 1;
            }
            .picture{
                width: 50px;
                border-radius: 25px;
                pointer-events: none;
            }
            .channel-name{
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 3px;
            }
            .channel-subscribers{
                font-size: 14px;
                color: rgb(99, 98, 98);
            }